.App {
  text-align: center;
}
.prov-img{
  width: 100px;
}
.card-anuncio{
  border: 1px solid #ddd;
  width: 400px;
  margin: 0 auto;
  display: flex;
}

.card-img{
  border: 1px solid violet;
  width: 40%;
}
.card-info{
  width: 60%;
}

.card-img img{
  width: 100%;
}

.App h1{
  transition: 1s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
