.form-cadastro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top, indigo , violet);
  padding: 0 5%;
}
.form-cadastro-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid cornflowerblue;
  padding: 50px 10px;
}
.form-cadastro-wrapper input{
  width: 95%;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.6em;
  border: none;
  outline: none;
  padding-left: 10px;
}
.form-cadastro-wrapper input::placeholder{
  padding-left: 10px;
}
.form-cadastro-wrapper button{
  width: 80%;
  border: none;
  border-radius: 10px;
  font-size: 1.3em;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: cornflowerblue;
  color: #fff;
}
.form-cadastro-wrapper a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  margin: 20px;
}