.menu-lateral-wrapper{
  position: fixed;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
  transform: translateX(-101%);
  transition: 1s;
  z-index: 2;
  top: 0;
}
.menu-lateral{
  height: 300px;
  width: 100%;
  background: cornflowerblue;
  height: 100%;
}
.menu-lateral ul{
  padding: 0 0;
  width: 100%;
}
.menu-lateral ul li{
  border: 1px solid indigo;
  list-style: none;
  padding: 20px 10px;
  border-radius: 15px;
}
.menu-lateral ul li a{
  list-style: none;
  color: #fff;
  text-decoration: none;
}
.menu-toggle-button{
  height: 300px;
  width: 30%;
  height: 100%;
  color: #fff;
  font-size: 2em;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  transition: 1s;
}
.menu-toggle-button-open{
  background: rgba(0, 0, 0, .8);
}
.menu-lateral span{
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  /* transform: translateX(120px); */
  transition: 1s;
  right: -45px;
}
.hamburguer-open{
  transform: translateX(0%) !important;
}
.menu-lateral span:before,
.menu-lateral span:after{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  display: block;
  background: #fff;
  transition: .3s;
}
.menu-lateral span:before{
  bottom: 10px;
}
.menu-lateral span:after{
  top: 10px;
}
.menu-lateral span.rotate-hamburguer{
  transform: rotate(45deg) !important;
}
.menu-lateral span.rotate-hamburguer:before{
  transform: rotate(90deg);
  top: 0;
}
.menu-lateral span.rotate-hamburguer:after{
  transform: rotate(90deg);
  top: 0;
}
.menu-open{
  transform: translateX(0%);
}