.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: indigo;
}
.header h1{
  margin: 20px 10px;
  color: #fff;
  font-size: 1.5em;
}
.header img{
  width: 30px;
  position: absolute;
  right: 10px;
  background-color: cornflowerblue;
  padding: 5px;
  border-radius: 50%;
}